//@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

/*body {
  background-color: $bg;
}

.card-sigup {
  background-color: $sigup-bg;
}

.btn {
  background-color: $btn-g;
}

.post {
  background-color: $primary;
}

.post-img {
  max-width: 50px;
}*/